.tableBox {
    width: 100%;
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid #DFDFDF;
}

.infoText{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #202932;
}
