@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0; 
  height: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(32, 41, 50, 1); 
  border-radius: 8px; 
}

::-webkit-scrollbar-track {
  background: rgba(223, 223, 223, 1);
  border-radius: 8px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
